@use "@carbon/react/scss/spacing";

.cds--btn {
    margin-top: spacing.$spacing-05 !important;
    margin-left: 32px !important;
}

.cds--dropdown__wrapper {
    margin-bottom: spacing.$spacing-05 !important;
}

#main {
    margin-top: spacing.$spacing-11;
}
