@use "@carbon/react/scss/spacing";

#main {
    padding-left: 32px !important;
    padding-top: spacing.$spacing-10;

    .cds--css-grid-column {
        margin-left: 0 !important;
        margin-right: spacing.$spacing-08 !important;
    }
   .upload-status
   {
    padding: '6px 16px';
    align-items: 'left';
    background-color: white;
    display: 'flex';
}
    .cds--css-grid {
        padding-left: 0 !important;
    }

    .cds--dropdown__wrapper {
        margin-bottom: spacing.$spacing-05 !important;
    }
}

#main > * {
    margin-top: spacing.$spacing-06 !important;
}

.cds--css-grid > * {
    margin-top: spacing.$spacing-06 !important;
}
